{:require  [figreload-demo.core]
 :compiler-options {:main "figreload-demo.core"
                    :asset-path "/js/out"
                    :output-to "target/cljsbuild/public/js/app.js"
                    :output-dir "target/cljsbuild/public/js/out"
                    :source-map true
                    :optimizations :none
                    :pretty-print true}
 :boot-reload {:on-jsload figreload-demo.core/on-js-reload}}
